body, html {
    padding: 0;
    margin: 0;
    font-family: proxima-nova, sans-serif;
    background: var(--main-bg-color);
    color: white;
    display: -moz-box;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}

/*div {*/
/*    margin: 5px 5px 5px 5px;*/
/*}*/

table {
    border-collapse:collapse;
    margin:0 0 15px;
    width:100%;
    border:1px solid rgba(255,255,255,.1)
}
table thead {
    font-weight:700
}
table td,
table th {
    border:1px solid rgba(255,255,255,.1);
    padding:10px 15px
}

.stk {
    width:100%;
    overflow:auto!important;
    border:1px solid rgba(255,255,255,.1);
    box-sizing:border-box;
    margin:20px 0 20px
}
.stk table {
    margin:0 0 0 0!important;
    border:none!important;
    border-radius:0!important;
    color: rgba(255,255,255,.7);
    }

h1, h2, p {
    /*background-color: #0f212e;*/
    color: rgba(255,255,255,.7);
    display: flex;
    margin: 10px 10px 10px 10px;
    flex-direction: column
}

p {
    margin: 5px 5px 5px 5px;
}

#footer {
    background:#071d2a
}
#footer .widget-title {
    color:#fff;
    font-weight:700;
    font-size:20px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
}